/* nav releted part */
 .banner{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 40px 200px;
 }
 .banner-title{
    font-size: 80px;
 }
 .banner-decription{
    font-size: 24px;
 }
 .primary-btn{
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
border: none;
color: white;
font-size: 20px;
 }
 /* main section style*/
 .fetures{
    color: #111010;
text-align: center;
padding-top: 60px;
 }
 .image{
    width: 310px;
    height: 428px;
     }
 .fetures-img{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 76px 0px 76px;
 }
.image{
    width: 310px;
    height: 428px;
    padding-top: 110px;
    padding-bottom: 0px;
    padding-right: 75px;
    padding-left: 75px;
} 
.main-body{
    padding-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.para{
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
}
.main-body2{
    margin-top: 120px;
    margin-bottom: 70px;
    min-height: 250px;
}
.main-body2{
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
align-items: center;
justify-content: space-around;
padding: 230px 0px 280px 320px;
}  
.body-title{
 color: #272727;
font-size: 40px;
font-weight: 800;
padding-left: 423;
text-align: center;
}  
.Off{
    color: #E55473;
}
.body-decription{
    text-align: center;
}
.btn-2{
    text-align: center;
}
.body-contant{
    width: 800px;
    text-align: center;
}
.body-img{
    width: 318px;
    height: 420px;
    padding-right: 300px;
}
.body-title3{
    text-align: center;
    font-size: 40px;
}
.body-para3{
    text-align: center;
    font-size: 18px;
}
.box{
width: 342px;
height: 396px;
}
.boxs{
display: flex;
 gap: 20px;
 padding-left: 280px;
 padding-top: 40px;
}
.section5-img{
    width: 1440px;
    height: 449px;
    border-radius: 8px;
    background-image: url("../asset/rectangle\ 9.png"); background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 auto;
}
.last-section-title{
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    
}
.last-section-para{
    text-align: center;
}
.first-input{
   padding: 25px 280px;
   border-radius: 8px;
background: #FFF;
margin-left: 280px;
border: none;
}
.footer{
    margin-top: 120px;
    height: 449px;
    margin-top: 80px;
    text-align: center;
    background-color: #111010;
}
.footer-title{
   padding-top: 125px;
    font-size: 48px;
    color: #FFF;
}
.footer-para{
    font-size: 18px;
    color: grey;
}